:root{
    --primaryColor: #ee710c;
    --blueColor: #275ADE;
    --bgfond: #F4F4F4;
    --blackColor: #131312;
    --blackColorLight: #282828;
    --grayColor: #877F7F;
    --bgOverplay: #f9f7f6;
    --colorWhite: #fff;
    --lightColor: rgba(255, 255, 255, 0.678);
    --redColor: #b41600;
    --greenColor: #6cd609;
}
.btn:focus, .form-control:focus{
    box-shadow: none;
}
body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;

    header{
        padding: 10px 0;
        background: var(--colorWhite);
        // border-radius: 0 0 12px 12px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
        .block-login a{
            color: var(--blackColor);
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
        }
        .block-user{
            .avatar-user{
                display: inline-block;
                width: 35px;
                height: 35px;
                border-radius: 100%;

                .icon-user{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    background: var(--bgfond);
                    color: var(--blackColor);
                    font-size: 20px;
                }

            }

            .block-notification{
                font-size: 22px;
                color: var(--blackColor);
                margin-right: 10px;
                position: relative;

                .badge{
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                    font-weight: 500;
                    right: -2px;
                    top: 5px;
                    padding: 0;
                    background: var(--blueColor);
                    color: var(--colorWhite);
                }
            }

        }
        .block-search{

            .form-control{
                border: none;
                background: var(--bgfond);
                border-radius: 25px 0 0px 25px;
            }
            .btn{
                border: none;
                background: var(--bgfond);
                border-radius: 0px 25px 25px 0px;
                color: var(--blackColor);
                font-size: 18px;
            }
        }
    }
    .wrapper{
        position: relative;
        width: 100%;
        overflow-x: hidden;
        margin-top: 110px;
        background: var(--bgfond);

        .block-content-pageHome{
            position: relative;
            padding: 30px 12px;
            padding-top: 7px;
            background: var(--blackColorLight);
            overflow: hidden;

            .block-banner-sm{
                position: relative;
                padding: 10px 0;
                height: 120px;
                width: 100%;
                background: var(--blueColor);
                border-radius: 8px;
                margin-top: 20px;
                .carousel-indicators{
                    top: auto;
                    left: auto;
                    right: 0;
                    bottom: -20px;
                    button{
                        width: 7px;
                        height: 7px;
                        border-radius: 100%;
                    }
                }
                .content-img{
                    width: 100%;
                    height: 100px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                p{
                    color: var(--colorWhite);
                    font-size: 14px;
                    margin-bottom: 2px;
                }
                h6{
                    font-size: 14px;
                    margin-bottom: 0;
                    color: var(--colorWhite);
                    font-weight: 600;
                }
            }

            .block-video{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 50%;
                position: relative;
                z-index: 1;
                margin-top: 20px;

                .title{
                    display: inline-block;
                    width: 100%;
                    font-size: 11px;
                    color: var(--colorWhite);
                    text-align: center;
                    margin-top: 10px;
                }

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 100%;
                    z-index: -1;
                }
                .play-video{
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    z-index: 1;
                    color: var(--colorWhite);
                    position: relative;
                    cursor: pointer;
                    margin-top: -20px;

                    &::before{
                        content: '';
                        position: absolute;
                        border: 5px solid var(--blackColorLight);
                        border-radius: 100%;
                        z-index: -2;
                        top: -10px;
                        left: -10px;
                        bottom: -10px;
                        right: -10px;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        background: var(--primaryColor);
                        border-radius: 100%;
                        z-index: -2;
                        top: -5px;
                        left: -5px;
                        bottom: -5px;
                        right: -5px;
                        z-index: -2;
                    }
                }

            }
        }
        .block-marquee{
            position: relative;
            padding: 20px 0;
            background: var(--colorWhite);
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            width: 95%;
            margin-right: auto;
            margin-left: auto;
            top: -20px;
            z-index: 2;
            box-shadow: 0 5px 24px rgba(0, 0, 0, 0.06);

            .title{
               display: flex;
               position: absolute;
               width: 200%;
               color: var(--blackColor);
               top: 10px;
               left: 0;
               animation: marquee-mouve 20s linear infinite;
               font-size: 14px;

            }
            @keyframes marquee-mouve {
                0%{
                    transform: translateX(50%);
                }
                100%{
                    transform: translateX(-100%);
                }
            }
            .btn{
                background: var(--primaryColor);
                font-size: 14px;
                margin-top: 20px;
                color: var(--colorWhite);
                border-radius: 25px;
                padding: 5px 15px;
            }
        }
        .block-bid-home{
            position: relative;
            width: 100%;
            overflow: hidden;
            padding: 30px 0;
            margin-top: -20px;
            background: var(--bgfond);
            padding-bottom: 110px;

            h2{
                color: var(--blackColor);
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 0;
            }
            a{
                text-decoration: none;
                font-size: 14px;
                color: var(--grayColor);
            }
            .card{
                border: none;
                box-shadow: 0px 0px 15px 6px rgba(243, 238, 233, 0.5);
                border-radius: 12px;
                padding: 20px 10px;
                z-index: 1;

                .type{
                    position: absolute; 
                    top: -7px;
                    left: -7px;
                    width: 100px;
                    height: 100px;
                    // background: red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    z-index: -1;

                    .ribbon{
                        position: absolute;
                        width: 150%;
                        height: 30px;
                        background: #275ADE;
                        transform: rotate(-45deg) translateY(-18px);
                        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                    }
                    // &::before{
                    //    content: attr(data-text);
                        
                    // }
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: -1px;
                        left: -2px;
                        width: 10px;
                        height: 14px;
                        background: #183788;
                        z-index: -1;
                        border-radius: 0 0 0px 20px;
                    }
                    .dote{
                        position: absolute;
                        width: 10px;
                        height: 7px;
                        top: 0px;
                        right: 1px;
                        background: #183788;
                        z-index: -2;
                        border-radius: 0 10px 0px 0;
                    }
                    .title{
                        font-size: 12px;
                    }
                }
                .card-header{
                    padding: 0;
                    background: transparent;
                    border: none;
                    position: relative;
                    text-align: center;
                    position: relative;

                    h5{
                        font-size: 14px;
                        color: var(--blackColor);
                        font-weight: 700;
                    }
                    .block-chat{
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        right: 0;
                        border-radius: 100%;
                        background: var(--blueColor);
                        top: -10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--colorWhite);
                        font-size: 20px;

                        .badge{
                            position: absolute;
                            padding: 0;
                            width: 15px;
                            height: 15px;
                            background: var(--colorWhite);
                            border-radius: 100%;
                            color: var(--blackColor);
                            font-size: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
                            top: -2px;
                            right: 0;
                        }
                    }
                }
                .timeUpdate{
                    h6{
                        color: var(--grayColor);
                        font-weight: 400;
                        margin-top: 10px;
                        font-size: 14px;
                    }
                    span{
                        font-size: 14px;
                        color: var(--blackColor);
                    }
                }
                .block-content{
                    .block-left{
                        width: 25%;
                        margin-top: 30px;

                        .title{
                            font-size: 12px;
                            color: var(--grayColor);
                        }
                        .congobid-price{
                            .price{
                                color: var(--primaryColor);
                            }
                        }
                        .marche-price{
                            .price{
                                color: var(--blackColor);
                                font-size: 16px;
                            }
                        }
                    }
                    .block-img{
                        width: 50%;
                        display: block;
                        margin-right: auto;
                        margin-left: auto;
                        margin-top: 20px;

                        img{
                            width: 100%;
                        }
                    }
                    .block-right{
                        width: 25%;
                        margin-top: 30px;
                        .title{
                            font-size: 12px;
                            color: var(--grayColor);
                        }
                        .bid-solde{
                            .price{
                                color: var(--blueColor);
                            }
                        }
                        .bid-bonus{
                            .price{
                                font-size: 16px;
                                color: var(--blackColor);
                            }
                        }
                    }
                }
                .block-participant{
                    width: 50%;
                    margin-right: auto;
                    margin-left: auto;
                    text-align: center;
                    margin-top: 20px;

                    .title{
                        color: var(--grayColor);
                        font-size: 14px;
                    }
                    .name-participant{
                        color: var(--blackColor);
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
                .block-options{
                    margin-top: 20px;
                }
                .block-icon-option{
                    .title{
                        font-size: 14px;
                        color: var(--grayColor);
                    }
                    .icons-options{
                        a{
                            color: var(--blackColor);
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            margin-right: 10px;

                            .iconify{
                                font-size: 20px;
                            }
                            .num{
                                font-size: 14px;
                                color: var(--grayColor);
                            }
                        }
                    }
                }
                .block-achat-bid{
                    .title{
                        font-size: 14px;
                        color: var(--grayColor);
                    }
                    .form-control{
                        border-radius: 25px;
                        height: 27px;
                    }
                    .btn{
                        height: 27px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: var(--primaryColor);
                        color: var(--colorWhite);
                        padding: 0;
                        width: 27px;
                        border-radius: 100%!important;
                        border: none;
                    }
                }
                .card-footer{
                    background: transparent;
                    padding-bottom: 0;
                    padding-top: 20px;

                    .btn{
                        background: var(--greenColor);
                        color: var(--colorWhite);
                        border-radius: 25px;
                        padding: 12px 35px;

                        svg{
                            font-size: 28px;
                        }
                    }
                    a{
                        color: var(--blackColor);
                        text-decoration: none;
                        font-weight: 500;
                    }
                    .text-center{
                        p{
                            color: var(--grayColor);
                            font-size: 14px;
                        }
                        a{
                            color: var(--blackColor);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            .iconify{
                                font-size: 30px;
                            }
                            .num{
                                color: var(--grayColor);
                            }
                        }
                    }
                }
            }
            .card.card-futur{
                .btn{
                    background: var(--bgfond);
                    color: var(--grayColor);
                }
            }
        }


    }
    .block-form{
        position: relative;
        overflow: hidden;
        width: 100%;
        min-height: 100vh;
        background: var(--bgfond);

        .content-form{
            position: relative;
            background: var(--blackColor);
            padding: 70px 0;
            border-radius: 0 0 12px 12px;

            .back{
                position: absolute;
                top: 20px;
                left: 10px;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: var(--colorWhite);
                font-size: 14px;

                span{
                    display: flex;
                    width: 15px;
                    height: 15px;
                    background: var(--colorWhite);
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    margin-right: 5px;
                    color: var(--blackColor);
                    font-size: 10px;
                }
            }
            h2{
                color: var(--colorWhite);
                font-weight: 500;
                font-size: 25px;
            }
            p{
                color: var(--lightColor);
                font-size: 14px;
                width: 240px;
                margin-right: auto;
                margin-left: auto;
            }
        }

        .card-form{
            box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.06);
            border-radius: 12px;
            padding: 40px 20px;
            border: none;
            position: relative;
            z-index: 1;
            margin-top: -50px;

            .form-control{
                border-radius: 50px;
                border: none;
                background: var(--bgfond);
                height: 45px;
                color: var(--blackColor);
                font-size: 14px;
                padding-left: 20px;

                &::placeholder{
                    color: var(--grayColor);
                }
                &:focus{
                    box-shadow: 0 0 0 .25rem #ea700c27;
                }
            }
            label{
                font-size: 14px;
                a{
                    color: var(--primaryColor);
                }
            }
            .col-password{
                position: relative;

                .show-password{
                    position: absolute;
                    width: 45px;
                    height: 45px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 22px;
                    color: var(--blackColor);
                }
            }
            .resert-password{
                color: var(--grayColor);
                text-decoration: none;
                font-size: 14px;
            }
            .btn{
                background: var(--primaryColor);
                color: var(--colorWhite);
                border-radius: 50px;
                height: 45px;
                box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.06);
                transition: .5s ease-in;

                &:active{
                    transform: scale(.8);
                }
            }
        }
        .block-login-network{
            position: relative;

            p.separator{
                color: var(--blackColor);
                position: relative;
                z-index: 1;

                &::before{
                    content: '';
                    position: absolute;
                    width: 45%;
                    height: 1.6px;
                    background: var(--grayColor);
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    z-index: 1;
                    opacity: .1;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 45%;
                    height: 1.6px;
                    background: var(--grayColor);
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    z-index: 1;
                    opacity: .1;
                }
            }

            .icon{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 48px;
            }
            p.link{
                color: var(--blackColor);

                a{
                    color: var(--primaryColor);
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }
    .content-block{
        position: relative;
        width: 100%;
        overflow-x: hidden;
        margin-top: 110px;
        background: var(--bgfond);
        min-height: 100vh;

        .banner-sm{
            width: 100%;
            height: 120px;
            background: var(--primaryColor);
            position: relative;

            .container-fluid{
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%,-50%);

                h1{
                    color: var(--colorWhite);
                    font-size: 24px;
                    font-weight: 500;
                }
            }
        }
        .content-articles{
            position: relative;
            overflow: hidden;
            padding: 30px 0;

            .card{
                padding: 20px 0;
                padding-top: 10px;
                border: none;
                border-radius: 8px;
                box-shadow: 0px 0px 15px 6px rgba(243, 238, 233, 0.5);

                .card-header{
                    background: var(--colorWhite);
                    border: none;
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-bottom: 10px;

                    .type{
                        font-size: 12px;
                        color: var(--primaryColor);
                    }
                    .like{
                        font-size: 20px;
                        color: var(--grayColor);
                        text-decoration: none;
                    }
                }

                .content-img{
                    width: 55%;
                    margin-right: auto;
                    margin-left: auto;

                    img{
                        width: 100%;
                    }
                }
                .card-body{
                    padding-bottom: 0;
                    padding-top: 5px;
                    h6{
                        font-size: 12px;
                        font-weight: 500;
                        margin-bottom: 0px;
                    }
                    p{
                        color: var(--grayColor);
                        font-size: 11px;
                        margin-bottom: 0;
                    }
                    h4{
                        color: var(--primaryColor);
                        font-size: 14px;
                        font-weight: 700;
                        margin-bottom: 0;
                    }
                    .btn{
                        font-size: 11px;
                        background: var(--blueColor);
                        color: var(--colorWhite);
                        border-radius: 50px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .navbottom{
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        background: var(--blackColor);
        padding: 15px 0;
        border-radius: 0;
        z-index: 5000;
        box-shadow: 0 5px 18px rgba(0, 0, 0, 0.5);

        .icon-nav{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 26px;
            color: var(--lightColor);
            text-decoration: none;

            .icon-nav svg{
                vertical-align: baseline;
            }
            .title{
                font-size: 12px;
            }
        }

        .icon-nav.active{
            color: var(--primaryColor);
        }
    }
}


